%h1 Student Registration Form

= simple_form_for @student, url: exercises_and_code_students_path, html: {class: 'form-horizontal'} do |f|
  = render partial: 'exercises_and_code/students/form', locals: {f: f}
  = f.submit class: 'btn btn-primary btn-lg'
