%h1 Endpoints

%ul
  %li
    Students
    %ol
      %li
        = link_to 'Students List - JSON', api_exercises_and_code_students_path
        &nbsp;
        = link_to 'XML', api_exercises_and_code_students_path(format: :xml)
