%h1 Endpoints

%ul
  %li
    Students
    %ol
      %li
        = link_to 'New Student', new_exercises_and_code_student_path
        &nbsp;
        = link_to 'Students List', exercises_and_code_students_path
        &nbsp;
        = link_to 'JSON', api_exercises_and_code_students_path(format: :json)
        &nbsp;
        = link_to 'XML', api_exercises_and_code_students_path(format: :xml)
